:host {
  display: block;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type="search"] {
  border: 2px solid transparent;
  transition: background-color 0.2s ease, border-color 0.2s ease;

  &:hover {
    background-color: hsl(var(--muted));
  }

  &:focus {
    background-color: hsl(var(--background));
    border-color: hsl(var(--border));
    outline: none;
  }
}
