@import "@angular/cdk/overlay-prebuilt.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "";
}

:root .theme-jira {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 220, 4%, 67%;
  --primary-foreground: transparent;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
  --board-column-background: 210, 4%, 10%;
  --board-column-card-background: 225, 5%, 15%;
  color-scheme: light;
}

.theme-jira.dark {
  color: hsl(220, 13%, 69%);
  --background: 240, 3%, 13%;
  --foreground: 220, 13%, 69%;
  --card: 240 10% 3.9%;
  --card-foreground: 220, 13%, 69%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 220, 13%, 69%;
  --primary: transparent;
  --primary-foreground: 220, 13%, 69%;
  --secondary: 216, 84%, 67%;
  --secondary-foreground: 240, 3%, 13%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 220, 13%, 69%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 220, 13%, 69%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 220, 13%, 69%;
  --ring: 240 4.9% 83.9%;
  --board-column-background: hsl(210, 4%, 10%) ;
  --board-column-card-background: hsl(225, 5%, 15%);
  --dialog-background: hsl(225, 4%, 18%);
  --drop-down-background: #222222;
  --dialog-input-background: #222222;
  --drop-down-selected-background: #123263;
  
  color-scheme: dark;
}

@layer base {
  * {
    @apply border-border;
  }
}
